@model List<QuanLiSinhVien.ViewModel.KetQuaDetail>

<form action="/KetQua/Update" method="post">
    @Html.AntiForgeryToken()
    <table class="table">
        <thead>
            <tr>
                <th scope="col">MSV</th>
                <th scope="col">Tên SV</th>
                <th scope="col">Môn học</th>
                <th scope="col">Điểm QT</th>
                <th scope="col">Điểm TP</th>
                <th scope="col">Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <th scope="row">
                            @Html.HiddenFor(m => Model[i].MaSV)
                            @Model[i].MaSV
                        </th>
                        <th scope="row">@Model[i].sinhVien.TenSV</th>
                        <th scope="row">
                            @Html.HiddenFor(m => Model[i].MaMH)
                            @Model[i].monHoc.TenMon
                        </th>
                        <th scope="row">
                            @Html.TextBoxFor(s => Model[i].DQT)
                        </th>
                        <th scope="row">
                            @Html.TextBoxFor(s => Model[i].DTP)
                        </th>
                        <th scope="row">
                            @Html.HiddenFor(s => Model[i].DiemTong)
                            @Html.HiddenFor(s => Model[i].TrangThai)
                            @Html.DisplayTextFor(s => Model[i].TrangThai)
                        </th>
                    </tr>
                }
            }
        </tbody>
    </table>
    <input type="submit" style="background-color: lightblue; margin: auto; display: block;" name="Update" value="Update" />
</form>

