@model List<QuanLiSinhVien.Models.SinhVien>

<table class="table">
    <thead>
        <tr>
            <th scope="col">MSV</th>
            <th scope="col">Tên SV</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Lớp</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sv in Model)
        {
            <tr>
                <th>@sv.MaSV</th>
                <td>@sv.TenSV</td>
                <td>@sv.GioiTinh</td>
                <td>@sv.Lop</td>
                <td style="text-align: end">
                    @Html.ActionLink("Detail", "Details", new { MaSV = @sv.MaSV })
                </td>
            </tr>
        }
    </tbody>
</table>
<ul class="pagination">
    <li class="page-item" page="@(ViewBag.CurrentPage-1)">
        <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    @for (int i = 1; i <= ViewBag.PageNum; i++)
    {
        <li class="page-item @(ViewBag.CurrentPage == i ? " active" : "")" page="@i">
            <a class="page-link">@i</a>
        </li>
    }
    <li class="page-item" page="@(ViewBag.CurrentPage+1)">
        <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>